.header {
  align-items: center;
  background-color: $color-white;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  padding: 24px 36px;
  width: 100%;
}

.content {
  justify-content: space-between;
  width: 100%;

  .logo {
    width: 180px;
  }
}