.products {
  border: 1px solid green;
  width: 100%;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  width: 100%;
}

.card-product {
  border: 1px solid red;

  .product-image {
    height: 280px;
    width: 280px;
  }

  .product-infos {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  button {
    background: $color-dark;
    border: none;
    color: $color-white;
    cursor: pointer;
    outline: none;
    padding: 8px 16px;
    width: fit-content;
  }
}
